.purple-bg {
    background-color: red !important;
    font-size: 22px;
}

.fx-inputwrap a { 
    color:#fff;
}

input {
    height:25px;
}
.fx-block.fx-share > .bill-icon {
    vertical-align: top;
    padding-top: 15px;
}

.fx-copy {
    color:#fff;
} 
#question-block{
    display: none;
}
.privew {
    margin-bottom: 20px;
}
.questionsBox {
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);
    border-radius: 3px;
    margin: 0 10px;
}
.questions {
    background: #007fbe;
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
}
.questions:before, .questions:after {
    background: url(../images/icon_question.png) no-repeat left 0;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0;
}
.answerList {
    margin-bottom: 15px;
}
ol, ul {
    list-style: none;
}
.answerList li:first-child {
    border-top-width: 0;
}
.answerList li {
    padding: 3px 0;
}
.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}
.button{
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.button, .greyButton {
    background-color: #f2f2f2;
    color: #888888;
    display: inline-block;
    border: solid 3px #cccccc;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 27px;
    min-width: 160px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: capitalize;
    cursor: pointer;
}
.question-timer {
    position: absolute;
    right: 0px;
    top: 31%;
    margin: 0;
    line-height: 30px;
    border: solid 1px #aeb9c0;
    padding: 0 10px;
    list-style: none;
    font-size: 22px;
    line-height: 1.75;
    text-align: center;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    position: fixed;
    z-index: 9999;
    background: #FFF;
    color: #007fbe;
}

