==
<div class="footer">
    <div class="container">
        <div class="conten_footer">
            <div class="item item--logo">
                <img class="logo_foo" src="{{'assets/images/logo_footer.png'|theme}}" alt="">
                <p class="title text-center">tải ứng dụng mobile</p>
                <div class="link_store">
                    <a href="#">
                        <img src="{{'assets/images/gg_store.png'|theme}}" alt="">
                    </a>
                    <a href="#">
                        <img src="{{'assets/images/apple_store.png'|theme}}" alt="">
                    </a>

                </div>
            </div>
            <div class="item">
                <p class="title">
                    Về chúng tôi
                </p>
                <a href="#" class="link_map">
                    Giới thiệu
                </a>
                <a href="#" class="link_map">
                    Điều khoản sử dụng
                </a>
                <a href="#" class="link_map">Quy chế hoạt động</a>
                <a href="#" class="link_map">Chính sách bảo mật</a>
                <a href="#" class="link_map">Chương trình Affiliate</a>
            </div>
            <div class="item">
                <p class="title">
                    thông tin
                </p>
                <a href="#" class="link_map">
                    Câu hỏi thường gặp
                </a>
                <a href="#" class="link_map">
                    Giải quyết tranh chấp
                </a>
                <a href="#" class="link_map">Chính sách hoàn học phí</a>
            </div>
            <div class="item">
                <p class="title">
                    HOTLINE: <strong>18001090</strong>
                </p>
                <a class="link_map" href="#">
                    <img src="{{'assets/images/icon_email.png'|theme}}" alt="">
                    hotro@info.vn
                </a>
                <a class="link_map" href="#">
                    <img src="{{'assets/images/icon_email.png'|theme}}" alt="">
                    kythuat@info.vn
                </a>                    

            </div>
        </div>
        <p class="text_copyright">Copyright © 2018 </p>
    </div>
</div>